head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    meta(name='content-type' content='application/javascript')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
    script(src='http://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css' integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp' crossorigin='anonymous')
    link(rel='stylesheet' href='https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css')
    // Bootstrap core CSS
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
    title Score Board
nav.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0
    a.navbar-brand.col-sm-3.col-md-2.mr-0(href='#') Group 1 Final Project
    ul.navbar-nav.px-3
        li.nav-item.text-nowrap
            a.nav-link(href='#') Sign out
.container-fluid
    .row
        nav.col-md-2.d-none.d-md-block.bg-light.sidebar
            .sidebar-sticky
                ul.nav.flex-column
                    li.nav-item
                        a.nav-link.active(href='#')
                            span(data-feather='home')
                            |                             Dashboard
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/teams/showTeams')
                            span(data-feather='users')
                            |                             Teams
                    li.nav-item
                        a.nav-link(href='/evaluators/showEval')
                            span(data-feather='briefcase')
                            |                             Evaluators
                    li.nav-item
                        a.nav-link(href='/surveys/showSurveyPage')
                            span(data-feather='anchor')
                            |                             Create Survey
                    li.nav-item
                        a.nav-link(href='/surveys/viewSurvey')
                            span(data-feather='aperture')
                            |                             Preview Survey
                    li.nav-item
                        a.nav-link(href='/scores/showScoreBoard')
                            span(data-feather='bar-chart-2')
                            |                             Score Board
        main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4(role='main')
            .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
                h1.h2 TEAM SCORES
            .card
                .card-body

                    table#scoresTable.table.table-striped
                        thead
                            tr
                                th(scope='col') Team Name
                                th(scope='col') Average Score
                        tbody
// Icons
script(src='https://unpkg.com/feather-icons/dist/feather.min.js')
script.
    feather.replace()
script(type='text/javascript').
    $(document).ready(function(){
        $('#scoresTable').DataTable({
            ajax : {
                url : "http://localhost:3000/scores/fetchScores",
                method : "get"
            },
            columns : [{"data":"teamName"},
                {"data":"averageScore"}
            ]
        });
    });
